@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";
@primary-color: #1f924f;

.site-layout {
  background: @primary-color;
}

.site-top-bar {
  background: @primary-color;
}

.site-layout-background {
  background: @white;
}

.icon-dynamic{
  background: @layout-header-background
}